.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.signup_input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}
.signup_button {
    background-color: rgb(110, 168, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 100%;
    border-radius: 40px;
    height: 48px;
    margin-top: 10px;
}